/*--home--*/
.home {
    position: relative;
    margin: 2%;
    border-radius: 3rem;
    background-color: #f0e8e4;
}

.home .slides-container .slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    display: none; 
    /* this will be overridden by .active */
}

.home .slides-container .slide.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.home .slides-container .slide .content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;
    -webkit-animation: fadLeft 0.4s linear 0.4s backwards;
    animation: fadLeft 0.4s linear 0.4s backwards;
}

.home .slides-container .slide .content span {
    font-size: 2.5rem;
    color: #b5b5b5;
}

.home .slides-container .slide .content h3 {
    font-size: 6rem;
    color: #5e473e;
}

.home .slides-container .slide .content p {
    font-size: 1.5rem;
    color: #b58d7e;
    padding: 0.5rem 0;
    line-height: 2;
}

.home .slides-container .slide .image {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;
    padding: 3rem 0;
}

.home .slides-container .slide .image img {
    width: 100%;
    -webkit-animation: fadeOut 0.4s linear;
    animation: fadeOut 0.4s linear;
}

.home #slide-next,
.home #slide-prev {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 3rem;
    text-align: center;
    color: #845f51;
    background: #e1cec7;
    cursor: pointer;
    border-radius: 50%;
}

.home #slide-next:hover,
.home #slide-prev:hover {
    background: #845f51;
    color: #e1cec7;
}

.home #slide-next {
    right: 2rem;
}

.home #slide-prev {
    left: 2rem;
}
/*--banner--*/
.banner-container{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(30rem ,1fr)[auto-fit]);
    grid-template-columns: repeat(auto-fit,minmax(30rem ,1fr));
    gap: 1.5rem;
}
.banner-container .banner{
    height: 25rem;
    overflow: hidden;
    position: relative;
    border-radius: 3rem;

}
.banner-container .banner img{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.banner-container .banner:hover img{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.banner-container .banner .content{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.banner-container .banner .content span{
    font-size: 1.7rem;
    color: #b58d7e;
}
.banner-container .banner .content h3{
    padding-top: .5rem;
    font-size: 2.2rem;
    color: #5e473e;
}
.banner-container .banner .content .btn{
    padding: .7rem 2.5rem;
}